.enyo-float-layout {
	overflow: hidden;
	white-space: nowrap;
}

.enyo-float-layout > .enyo-left {
	float: left;
}

.enyo-float-layout > .enyo-right {
	float: right;
}

.enyo-float-layout > .enyo-flex {
	overflow: hidden;
}