.enyo-0 {
	padding: 0;
	margin: 0;
	border: none;
}

.enyo-0:after, .enyo-0:before {
	content: '';
	display: table;
}

.enyo-fitable .enyo-fitable-rows-box > * > * {
	display: block;
}

.enyo-row-flex {
	position: relative;
}

.enyo-row-flex > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.enyo-col-box {
	white-space: nowrap;
}

.enyo-col-box > *, .enyo-col-box > * > * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.enyo-col-box > * > * {
	white-space: normal;
}
