.enyo-list {
	position: relative;
}

.enyo-list-port {
	overflow: hidden;
	position: relative;
	height: 1000000px;
}

.enyo-list-page {
	position: absolute;
	left: 0;
	right: 0;
}

.listPlaceholder { }
.pinned-list-placeholder {
	border:1px solid red;
	position:relative;
}
.pinned-list-placeholder button {
	width:100px; height:100%;
	position:absolute;
	top:0px; right:0px;
}
.list-reorder-container {
	position:absolute;
	top:0px; left:0px;
	z-index:1000;
	background:transparent;
	overflow:hidden;
	border:1px solid red;
}

.animatedTopAndLeft {
	transition: top 0.1s linear, left 0.1s linear;
	-webkit-transition: top 0.1s linear, left 0.1s linear;
	-moz-transition: top 0.1s linear, left 0.1s linear;
	-o-transition: top 0.1s linear, left 0.1s linear;
}