.enyo-flex-layout {
	position: relative;             /* To handle inline cases in sampler */
	overflow: hidden;               /*  */
}
	.enyo-flex-layout > * {
		display: inline-block;      /* To prevent block elements from stretching beyond remaining boundaries */
	}