/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	margin: 5px;
	border-radius: 4px;
	background-color: silver;
	padding: 10px;
}

.demoButton {
	margin:8px;
}

.demo {
	width: 800px;
	height:500px;
	margin:auto;
	background-color:gray;
}

@media all and (max-width: 900px) {
	.demo {
		width: 550px;
		height:400px;
	}
}

@media all and (max-width: 650px) {
	.demo {
		width: 280px;
		height:250px;
	}
}
