.enyo-collapsed-fittable > .enyo-fittable-col-box, .enyo-collapsed-fittable > .enyo-fittable-col-box > * {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100% !important;
}


.enyo-collapsed-fittable > .enyo-fittable-col-box > * > * {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100% !important;
}