.content-layout-sample {
	border: 10px solid #DDD;
}

	.content-layout-sample .enyo-content-layout {
		font-size: 11px;
		border: 10px solid red !important;
		padding: 10px !important;
		margin: 20px !important;
	}