/* table style */
.enyo-vcenter {
	position: relative;
	height: 100%;
}

.enyo-table {
	display: table;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */	
}

.enyo-table-fit {
	word-wrap: break-word; 
    table-layout:fixed;
    width: 100%;
}

.enyo-table-row {
	display: table-row;
}

.enyo-table-cell {
	display: table-cell;
}

/* basic alignment */
.enyo-v-box {
	display: block;
}
.enyo-h-box {
	display: inline-block;
	vertical-align: top;
}

.enyo-v-layout > * {
	display: block;
}
.enyo-h-layout > * {
	display: inline-block;
	vertical-align: top;
}