.enyo-0 {
	padding: 0;
	margin: 0;
	border: none;
}

/* margin containment */
.enyo-0:after, .enyo-0:before {
	content: '';
	display: table;
}

.enyo-fittable-row-box, .enyo-fittable-col-box {
	height: 100%;
}

.enyo-fittable .enyo-fittable-row-box > * > * {
	display: block;
}

.enyo-fittable-flex {
	position: relative;
}

.enyo-fittable-flex > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.enyo-fittable-col-box {
	white-space: nowrap;
}

.enyo-fittable-col-box > *, .enyo-fittable-col-box > * > * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.enyo-fittable-col-box > * > * {
	white-space: normal;
}
